@page
@model AboutModel
@{
    ViewData["Title"] = "About Me";
}
<div class="px-0">
    <img src="~/pictures/aboutme.jpg" alt="about" class="img-fluid" />
</div>
<h1 class="display-4 text-center">About Me</h1>
<div class="container">
    I was born in Ioannina, Greece in 1997 and my permanent residence is Agora, Thesprotia, Greece. I studied Electrical and Computer Engineering at the Democritus
    University of Thrace from September 2015 to September 2020 and graduated with 8.42/10 GPA. In the fourth year of my
    studies I followed the specialization area of Telecommunications and Radio-Frequency Engineering. During the last
    year of my studies, I focused on Pattern Recognition, Deep Learning, Audio Signal Processing, Algorithms and Web
    Development. Currently I am trying to improve my coding skills working mainly with C#, .Net Core and JavaScript technologies.
    In my spare time, I enjoy hiking mountains, doing calisthenics workout and reading stoic philosophy.
</div>

