@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1 class="display-4 text-center">Contact</h1>
<div class="container text-center">
    <a href="https://github.com/gelobs" class="fa fa-github text-decoration-none"></a>
    <a href="https://www.linkedin.com/in/angelos-bousis-124b69136" class="fa fa-linkedin text-decoration-none"></a>
    <a href="https://www.facebook.com/profile.php?id=100000467332858" class="fa fa-facebook text-decoration-none"></a>
    <a href="https://www.instagram.com/ang3lo_b/" class="fa fa-instagram text-decoration-none"></a>
</div>
